@keyframes show {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes down {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateY(13rem) translateX(-50%);
  }
}
@keyframes slide-from-top {
  65% {
    top: 55%;
  }
  100% {
    top: 50%;
  }
}
.show {
  animation: show 1.5s;
}
@keyframes zzz {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
  }
}
