.btn {
  border: none;

  text-align: center;
  padding: 0.5rem 2rem;
  font-size: var(--mid-font-size);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.3rem 0.8rem 0.1rem rgba($color-black, 0.15);
  color: var(--bright-red);
  transition: all 0.3s;
  &:hover {
    box-shadow: 0.1rem 0.3rem 0.8rem 0.5rem rgba($color-black, 0.2);
    cursor: pointer;
  }
  &--red {
    background-color: var(--bright-red);
    color: var(--white);
  }
}
