@keyframes show {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes down {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateY(13rem) translateX(-50%);
  }
}
