<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">



    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" type="img" href="https://image.flaticon.com/icons/png/512/628/628283.png" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Flora</title>
</head>

<body>
    <nav class="navigation-mobile">
        <input type="checkbox" class="navigation-mobile__checkbox" id="navi-toggle">

        <label for="navi-toggle" class="navigation-mobile__button">
            <span class="navigation-mobile__icon">&nbsp;</span>
        </label>

        <div class="navigation-mobile__background"></div>

        <nav class="navigation-mobile__nav">
            <ul class="navigation-mobile__list">
                <li class="navigation-mobile__item"><a href="#about" class="navigation-mobile__link">About US</a></li>
                <li class="navigation-mobile__item navigation__item--conteiner">
                    <a href="#pages" class="navigation-mobile__link">Pages </a>
                    <ul class="navigation-mobile__list--nested">
                        <li class="navigation-mobile__item"><a href="#services" class="navigation-mobile__link
                                    navigation-mobile__link--nested">Services</a></li>
                        <li class="navigation-mobile__item"><a href="#statistics" class="navigation-mobile__link
                                    navigation-mobile__link--nested">Statistic</a></li>
                        <!-- <li class="navigation-mobile__item"><a href="#testimonials" class="navigation-mobile__link
                                    navigation-mobile__link--nested">Testimonials</a></li> -->
                        <li class="navigation-mobile__item"><a href="#gallery"
                                class="navigation-mobile__link">gallery</a></li>

                        <li class="navigation-mobile__item"><a href="#contact" class="navigation-mobile__link">contact
                                us</a></li>
                    </ul>
        </nav>
    </nav>
    <nav class="navigation__nav">
        <div class="navigation__title">
           <a href="/">
               <h3 class="heading-3">flora</h3>
            </a>
        </div>
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#about" class="navigation__link">About US</a></li>
            <li class="navigation__item navigation__item--conteiner">
                <a href="#" class="navigation__link">Pages <i class="fas
                            fa-angle-down"></i></a>
                <ul class="navigation__list--nested">
                    <li class="navigation__item"><a href="#services" class="navigation__link
                                navigation__link--nested">Services</a></li>
                    <li class="navigation__item"><a href="#statistics" class="navigation__link
                                navigation__link--nested">Statistic</a></li>
                    <!-- <li class="navigation__item"><a href="#testimonials" class="navigation__link
                                navigation__link--nested">Testimonials</a></li> -->
                </ul>
            </li>
            <li class="navigation__item"><a href="#gallery" class="navigation__link">gallery</a></li>

            <li class="navigation__item"><a href="#contact" class="navigation__link">contact us</a></li>
</ul>

    </nav>
    <header class="header">

        <div class="header__text-box">
            <h1 class="heading-1 header__text--1" >Save the planet!</h5>
            <h2 class="heading-2 header__text--2">Lorem ipsum dolor<br>Doloribus veniam</h2>
        </div>
        <div class="header__scroll-indicator">
            <i class="fas
                    fa-angle-down header__scroll-icon"></i>

        </div>

    </header>
    <section class="section-intro">

    </section>
    <section class="section-about" id="about">
        <div class="section-about__container u-box-center">
            <div class="section-about__box feature-box">
                <svg class="icon icon--red feature-box__icon">
                    <use xlink:href="css/fonts/sprite.svg#branch-with-leaves-black-shape"></use>
                </svg>

                <h5 class="heading-5 feature-box__title">Indor plants</h5>
                <p class="paragraph feature-box__paragraph">Lorem ipsum
                    dolor sit, amet consectetur adipisicing elit.
                    Placeat, placeat veniam dolore sit nulla
                    necessitatibus qui, eligendi, aspernatur libero</p>
            </div>
            <div class="section-about__box feature-box feature-box--mid
                        feature-box--">
                <svg class="icon
                            icon--red feature-box__icon">
                    <use xlink:href="css/fonts/sprite.svg#snowflake"></use>
                </svg>
                <h5 class="heading-5 feature-box__title">Outdor plants</h3>
                    <p class="paragraph paragraph--white
                            feature-box__paragraph">Lorem ipsum dolor sit, amet
                        consectetur adipisicing elit. Placeat, placeat
                        veniam dolore sit nulla necessitatibus qui,
                        eligendi, aspernatur libero</p>
            </div>
            <div class="section-about__box feature-box">
                <svg class="icon
                            icon--red feature-box__icon">
                    <use xlink:href="css/fonts/sprite.svg#vote"></use>
                </svg>
                <h5 class="heading-5 feature-box__title">counselling</h5>
                <p class="paragraph feature-box__paragraph">Lorem ipsum
                    dolor sit, amet consectetur adipisicing elit.
                    Placeat, placeat veniam dolore sit nulla
                    necessitatibus qui, eligendi, aspernatur </p>
            </div>
        </div>
    </section>
    <section class="section-info u-m-top-big" id="services">
        <div class="section-info-container
                    u-box-center">
            <article class="article hidden">
                <div class="article__text">
                    <h4 class="heading-4 aricle__title">Best design
                        experience
                    </h4>
                    <p class="paragraph">Lorem ipsum dolor sit, amet
                        consectetur adipisicing elit. Reprehenderit,
                        explicabo enim. Quasi id, porro itaque debitis
                        laborum voluptatem ipsum vero, ratione ab
                        dolores repellendus in? Maiores, corrupti quasi
                        unde eum sint, distinctio
                        similique nam voluptates itaque, soluta
                        voluptatum minima vitae blanditiis odio pariatur
                        ad.</p>
                    <p class="paragraph u-m-top-small"> Lorem ipsum
                        dolor, sit amet consectetur adipisicing elit.
                        Facilis quisquam deserunt id.
                    </p>
                    <a href="#services" class="btn section-info__btn">Learn
                        more</a>
                </div>
                <figure class="article__img-box">
                    <img src="img/img1.jpg" alt="" class="article__img">
                </figure>
            </article>
        </div>
    </section>
    <section class="section-statistics u-m-top-big" id="statistics">
        <div class="section-statistics__container">
            <div class="progress-box">
                <h5 class="heading-5 progress__name">Simple plants</h5>
                <div class="progress__axis">
                    <progress value="70" max="100" class="progress__line progress__line--"></progress>
                </div>
            </div>
            <div class="progress-box">
                <h5 class="heading-5 progress__name">Outdor plants</h5>
                <div class="progress__axis">
                    <progress value="50" max="100" class="progress__line progress__line--"></progress>
                </div>
            </div>
            <div class="progress-box">
                <h5 class="heading-5 progress__name">Indor plants</h5>
                <div class="progress__axis">
                    <progress value="40" max="100" class="progress__line progress__line--"></progress>
                </div>
            </div>
            <div class="progress-box">
                <h5 class="heading-5 progress__name">Online customer
                    support
                </h5>
                <div class="progress__axis">
                    <progress value="99" max="100" class="progress__line progress__line--"></progress>
                </div>
            </div>
            <div class="progress-box">
                <h5 class="heading-5 progress__name">Care</h5>
                <div class="progress__axis">
                    <progress value="100" max="100" class="progress__line progress__line--"></progress>
                </div>
            </div>

        </div>
    </section>
    <section class="section-info u-m-top-big">
        <div class="section-info-container
                    u-box-center">
            <article class="article hidden">
                <div class="article__text">
                    <h4 class="heading-4 aricle__title">Check out our
                        garden support</h4>
                    <p class="paragraph">Lorem ipsum dolor sit, amet
                        consectetur adipisicing elit. Reprehenderit,
                        explicabo enim. Quasi id, porro itaque debitis
                        laborum voluptatem ipsum vero, ratione ab
                        dolores repellendus in? Maiores, corrupti quasi
                        unde eum sint, distinctio
                        similique nam voluptates itaque, soluta
                        voluptatum minima vitae blanditiis odio pariatur
                        ad.</p>
                    <p class="paragraph u-m-top-small"> Lorem ipsum
                        dolor, sit amet consectetur adipisicing elit.
                        Facilis quisquam deserunt id.
                    </p>
                    <a href="#services" class="btn section-info__btn">Learn
                        more</a>
                </div>
                <figure class="article__img-box">
                    <img src="img/img10.jpg" alt="" class="article__img">
                </figure>
            </article>
        </div>
    </section>
    <section class="section-features u-m-top-big u-box-center" id="features">
        <div class="section-features__container">

            <div class="section-features__box feature-box">
                <svg class="icon icon--red feature-box__icon">
                    <use xlink:href="css/fonts/sprite.svg#branch-with-leaves-black-shape"></use>
                </svg>

                <h5 class="heading-5 feature-box__title">garden cere</h5>
                <p class="paragraph feature-box__paragraph">Lorem ipsum
                    dolor sit, amet consectetur adipisicing elit.
                    Placeat, pl
                </p>
            </div>
            <div class="section-features__box feature-box">
                <svg class="icon
                            icon--red feature-box__icon">
                    <use xlink:href="css/fonts/sprite.svg#snowflake"></use>
                </svg>
                <h5 class="heading-5 feature-box__title">Indor plants</h3>
                    <p class="paragraph
                            feature-box__paragraph">Lorem ipsum deniam dolore
                        sit nulla necessitatibus qui, eligendi, a libero</div>
         
            <div class="section-features__box feature-box">
                <svg class="icon
                            icon--red feature-box__icon">
                    <use xlink:href="css/fonts/sprite.svg#vote"></use>
                </svg>
                <h5 class="heading-5 feature-box__title">simple plants</h5>
                <p class="paragraph feature-box__paragraph">Lorem ipsum
                    dolor sit, ameeat veniae sit nulla necessitatibus
                    qui, eliatur </p>
            </div>
            <div class="section-features__box feature-box">
                <svg class="icon
                            icon--red feature-box__icon">
                    <use xlink:href="css/fonts/sprite.svg#plant-leaf-with-white-details"></use>
                </svg>
                <h5 class="heading-5 feature-box__title">graden service</h5>
                <p class="paragraph feature-box__paragraph">Lorem ipsum
                    dolor sit, amet consectetur adi, placeat vspernatur
                </p>
            </div>

        </div>
    </section>
    <section class="section-gallery u-m-top-big" id="gallery">
        
        <h3 class="heading-3 u-center-text u-m-bottom-mid">Latest
            Collections </h3>
        <div class="section-gallery__container gallery__conteiner">
            <figure class="gallery__item gallery__item--1">
                <img src="img/img4.jpg" alt="flower" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--2">
                <img src="img/img5.jpg" alt="flower" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--3">
                <img src="img/img3.jpg" alt="flower" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--4">
                <img src="img/img7.jpg" alt="flower" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--5">
                <img src="img/img8.jpg" alt="flower" class="gallery__img">
            </figure>
            <figure class="gallery__item gallery__item--6">
                <img src="img/img9.jpg" alt="flower" class="gallery__img">
            </figure>
        </div>

        <div class="backdrop"></div>

    </section>
    <!-- <section class="section-blog"></section> -->
    <section class="section-contact u-m-top-big" id="contact">
        <div class="section-contact__header u-center-text
                    u-m-bottom-mid">
            <h3 class="heading-3">Visit us</h3>
        </div>
        <div class="section-contact__map">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23251.876235323238!2d21.014834371301486!3d52.22426539514446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x538c08ae7104176!2sZora.+Us%C5%82ugi+ogrodnicze!5e0!3m2!1spl!2spl!4v1554367466819!5m2!1spl!2spl"
                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="section-contact__form u-m-top-mid">
            <div class="form-backdrop">
                    <div class="form-sent">
                            <h4 class="heading-4 form-sent__text ">Message has been sent</h4>
                    </div>
            </div>
       
            <h3 class="heading-3 u-center-text u-m-top-bottom-mid">
                send us a message
            </h3>
            <form name="contact" action="/" class="form" method="POST" 
            id='contact--form'>
                <div class="form__group">
                    <input type="text" id="name" class="form__input" name="name" placeholder="Full name" required>
                    <input type="text" id="subject" name="subject"  class="form__input" placeholder="Subject" required>
                </div>
                <div class="form__group">
                    <input type="email" id="email" name="name"  class="form__input" placeholder="Email address" required>
                    <input type="text" id="phone-number" name="phone"  class="form__input" placeholder="Phone number">
                </div>
                <div class="form__group">
                    <textarea name="message"  id="message" placeholder="Message" class="form__message" cols="30"
                        rows="10"></textarea>
                </div>
             
                <div class="form__group">
                 
                    <input type="submit" value='Send' class="form__submit btn btn--red"></input>
                </div>
            </form>
        </div>
    </section>
    <!-- <section class="section-testimonials u-m-top-big" id="testimonials">
        <div class="section-testimonials__conteiner u-box-center">
            <div class="review">
                <div class="review__title">
                    <h5 class="heading-5 u-text--white">Michael Jordan
                    </h5>
                </div>
                <div class="review__text">
                    <p class="paragraph u-text--white"> Lorem ipsum
                        dolor sit amet consectetur adipisicing elit.
                        Minus, at, maxime fugiat quo distinctio, libero
                        suscipit iste deserunt fugit nisi ratione
                        voluptates consequatur.</p>
                </div>
            </div>
        </div>

    </section> -->
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__about">
                <h5 class="heading-5">FLORA</h5>
                <p class="paragraph">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Deserunt, dolorem.</p>
                <div class="footer__social">
                    <svg class="icon">
                        <a href="https://www.twitter.com" target="_blank">
                            <use xlink:href="css/fonts/sprite.svg#twitter"></use>
                        </a>
                    </svg>
                    <svg class="icon">
                        <a href="https://www.facebook.com" target="_blank">
                            <use xlink:href="css/fonts/sprite.svg#facebook"></use>
                        </a>
                    </svg>
                    <svg class="icon">
                        <a href="https://www.instagram.com" target="_blank">
                            <use xlink:href="css/fonts/sprite.svg#instagram"></use>
                        </a>
                    </svg>
                </div>
            </div>
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Home</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">About us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Our Mission</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">find us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                </ul>
            </div>

        </div>
        <div class="footer__copyright">
            <p class="pargraph"> <span class="year">2018</span> Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Qui,
                corporis?
            </p>

        </div>
    </footer>
  
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.3/firebase-database.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
