.header {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 80rem;
  width: 100%;
  position: relative;
  // display: flex;
  // align-items: center;
  @include respond(phone) {
    height: 100vh;
  }
  &__text {
    &-box {
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: var(--white);
      width: 60%;
      border-radius: 3rem;
      animation: slide-from-top 1.5s forwards;
    }
  }

  @include respond(phone) {
    &__scroll {
      &-indicator {
        z-index: 5;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        height: 5rem;
        width: 2.5rem;
        border: 2px solid var(--white);
        border-radius: 1.25rem;
        overflow: hidden;
      }
      &-icon {
        position: absolute;
        top: -3rem;
        left: 50%;
        color: var(--white);
        color: white;
        text-shadow: 0 -30px 0 white, 0 -15px white;
        animation: down 2s infinite;
        font-size: 25px;
      }
    }
  }
}
